<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pendulumtestjava">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".fragments.pendulumsFragments.infoApi.InfoApi"
            android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity
            android:name=".fragments.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".fragments.pendulumsFragments.views.SinglePendulumView" />
        <activity android:name=".fragments.pendulumsFragments.views.DoublePendulumView" />
        <activity android:name=".firebase.FirebaseAuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>